* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #73dab2;
}

.flex {
  margin: 10px;
}

/* Flexbox 1 */
.flexOne {
  display: flex;
}

.flexOne .square {
  margin: 5px;
}

/* Flexbox 2 */
.flexTwo {
  display: flex;
  flex-direction: column;
}

.flexTwo .square {
  margin: 2px;
}

/* Flexbox 3 */
.flexThree {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.flexThree .square {
  margin: 2px;
}

/* Flexbox 4 */
.flexFour {
  display: flex;
  width: 350px;
  flex-flow: row wrap;
  background-color: #368062;
}

.flexFour .square {
  margin: 5px;
}

/* Flexbox 5 */
.flexFive {
  display: flex;
  width: 350px;
}

.flexFive .item {
  background-color: #0b6643;
  width: 100px;
  height: 100px;
  margin: 2px;
}

#grow {
  flex-grow: 2;
}

/* Flexbox 6 */
.flexSix {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  background-color: #f1f1f1;
}

.flexSix .one,
.flexSix .two,
.flexSix .three {
  display: flex;
}

.flexSix .one {
  justify-content: space-around;
}

.flexSix .two {
  justify-content: space-between;
  margin: 50px 0;
  background-color: #d6d6d6;
}

.flexSix .three {
  justify-content: space-evenly;
}

/* Flexbox 7 */
.flexSeven {
  display: flex;
  width: 500px;
  height: 400px;
  justify-content: space-between;
  background-color: #efefef;
}

.flexSeven .one,
.flexSeven .two,
.flexSeven .three,
.flexSeven .four {
  display: flex;
  flex-direction: column;
}

.flexSeven .one {
  justify-content: center;
}

.flexSeven .two {
  justify-content: flex-end;
}

.flexSeven .three {
  justify-content: flex-start;
}

.flexSeven .four {
  justify-content: space-between;
}

/* Flexbox 8 */
.flexEight {
  display: flex;
  width: 300px;
  height: 400px;
  background-color: #eeeeee;
}

.flexEight .one,
.flexEight .two,
.flexEight .three {
  display: flex;
}

.flexEight .one {
  align-items: center;
}

.flexEight .two {
  align-items: flex-end;
}

.flexEight .three {
  align-items: flex-start;
}

/* Flexbox 9 */
.flexNine {
  display: flex;
  width: 450px;
  height: 250px;
  background-color: #eeeeee;
  align-items: flex-start;
  justify-content: space-evenly;
}

#special {
  align-self: flex-end;
}
